<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="bs-docs-section">
        <div class="bs-component" style="padding-top: 50px">
            <div class="jumbotron">
                <h1 class="text-warning">the server successfully received the request and processed the data, but found an
                    error in the incoming data,
                    because of which it is impossible to perform an operation on a resource
                </h1>
                <hr class="my-4">
                <p>.__.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>