<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div th:if="${!#lists.isEmpty(Article)}">
        <div class="bs-docs-section">
            <div class="page-header" style="padding-top: 20px; padding-bottom: 5px; color: #ebebeb">
                <h1>Articles</h1>
            </div>
            <div class="bs-component">
                    <div th:each="article,itemStat :${Article}" class="jumbotron">
                        <p class="lead" th:text="${article.dataCreate}"></p>
                        <hr class="my-4">
                        <h6 th:text="${article.title}"></h6>
                        <h6 th:text="| ${article.author.name} ${article.author.surname}|"></h6>
                        <p th:text="article.summary"></p>
                        <hr class="my-4">
                        <li>
                            <a th:href="@{/public/customer/articles/showing/more(articlesId=${article.id})}">more</a>
                        </li>
                    </div>
            </div>
        </div>
    </div>
    <div class="bs-docs-section">
        <div class="bs-component" style="padding-top: 50px">
            <div class="jumbotron">
                <h1 class="display-3">THIS SITE IS WRITTEN ON A SPRING BOOT</h1>
                <hr class="my-4">
                <p>The developer Kazimir_bortnik@mail.ru</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>