<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div th:if="${!#lists.isEmpty(reviews.reviewList)}">
        <div class="bs-docs-section">
            <div class="page-header" style="padding-top: 20px; padding-bottom: 5px; color: #ebebeb">
                <h1 id="tables">Reviews</h1>
            </div>
            <div class="bs-component">
                <p th:if="${#strings.trim(message)}" class="text-success" th:text="${message}"></p>

                <form action="#" id="update_status_showing" th:action="@{/private/reviews/update_showing}"
                      th:object="${reviews}"
                      method="post">
                    <div th:each="review,itemStat :*{reviewList}" class="jumbotron">
                        <p class="lead" th:text="${review.review}"></p>
                        <hr class="my-4">
                        <h6 th:text="| ${review.userDTO.name} ${review.userDTO.surname}|"></h6>
                        <h6 th:text="${review.dataCreate}"></h6>
                        <label style="padding-top: 10px">
                            <button type="submit" class="btn btn-outline-warning"
                                    th:formaction="@{/private/reviews/delete_reviews(id=${review.id})}">
                                Delete review
                            </button>
                        </label>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="float-lg-right">
                                    <p class="text-success">Show feedback
                                        <label style="padding-left: 10px">
                                            <input type="checkbox"
                                                   th:field="*{reviewList[__${itemStat.index}__].hidden}">
                                        </label>
                                        <label>
                                            <input hidden th:name="|reviewList[${itemStat.index}].id|"
                                                   th:value="${review.id}"/>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="float-lg-right">
                    <button type="submit" form="update_status_showing" class="btn btn-outline-success">Update status
                        showing
                    </button>
                </div>
            </div>
        </div>
        <div class="float-none">
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>

                <li class="page-item" th:each="i : ${#numbers.sequence( 1,page.countOfPages)}"
                    th:classappend="${page.currentPage}==${i}?'page-item active':''">
                    <a th:href="@{/private/reviews/showing(currentPage=${i})}" th:text="${i}" class="page-link"> </a>
                </li>

                <li class="page-item disabled">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer container-lg width-full px-3" role="contentinfo">
        <div class="position-relative d-flex flex-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
            <div style="text-align: center;">
                <span>Online Marker__2018</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
