<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div th:if="${!#lists.isEmpty(users.list)}">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header" style="padding-top: 20px; padding-bottom: 5px; color: #ebebeb">
                        <h1 id="tables">Table users</h1>
                    </div>
                    <div class="bs-component">
                        <p th:if="${#strings.trim(message)}" class="text-success" th:text="${message}"></p>
                        <p th:if="${#strings.trim(message)}" class="text-success" th:text="${error}"></p>
                        <form action="#" id="delete_users" th:action="@{/private/users/delete_users}" method="post">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Change Password</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-active" th:each="user,stat:${users.list}">
                                    <td>
                                        <blockquote class="blockquote">
                                            <p class="mb-0" th:text="${stat.count}"></p>
                                        </blockquote>
                                    </td>
                                    <td>
                                        <blockquote class="blockquote">
                                            <p class="mb-0" th:text="${user.name}"></p>
                                        </blockquote>
                                    </td>
                                    <td>
                                        <blockquote class="blockquote">
                                            <p class="mb-0" th:text="${user.surname}"></p>
                                        </blockquote>
                                    </td>

                                    <td>
                                        <blockquote class="blockquote">
                                            <p class="mb-0" th:text="${user.email}"></p>
                                        </blockquote>
                                    </td>
                                    <td>
                                        <div th:if=${!user.unchangeable}>
                                            <form method="post">
                                                <div class="form-group">
                                                    <label>
                                                        <label><input th:value="${user.id}" th:name="id" hidden/></label>
                                                        <label>
                                                            <select name="role" class="custom-select" th:field="${userDTO.roleDTO.id}">
                                                                <option th:each="role : ${roles}"
                                                                        th:value="${role.id}"
                                                                        th:text="${role.name}"
                                                                        th:if="${role.name == user.roleDTO.name}"
                                                                        selected></option>
                                                                <option th:each="role : ${roles}"
                                                                        th:value="${role.id}"
                                                                        th:unless="${role.name == user.roleDTO.name}"
                                                                        th:text="${role.name}"></option>
                                                            </select>
                                                        </label>
                                                    </label>
                                                    <label style="padding-left: 30px">
                                                        <button type="submit" class="btn btn-outline-success"
                                                                th:object="${userDTO}"
                                                                th:formaction="@{/private/users/update_role}">Update
                                                        </button>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div th:unless=${!user.unchangeable}>
                                            <blockquote class="blockquote">
                                                <p class="mb-0" th:text="${user.roleDTO.name}"></p>
                                            </blockquote>
                                        </div>
                                    </td>
                                    <td>
                                        <div th:if=${!user.unchangeable}>
                                            <label style="padding-top: 25px">
                                                <input type="checkbox" name="id_delete_users" th:value="${user.id}"/>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div th:if=${!user.unchangeable}>
                                            <label style="padding-top: 20px">
                                                <form method="post">
                                                    <button type="submit" class="btn btn-outline-primary"
                                                            th:formaction="@{/private/users/change_password(email=${user.email})}">
                                                        Update password
                                                    </button>
                                                </form>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-lg-right">
                        <button type="submit" form="delete_users" class="btn btn-outline-warning">Remove marked users
                        </button>
                    </div>
                </div>
            </div>
            <div class="float-none">
                <ul class="pagination pagination-sm">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence( 1,users.countOfPages)}"
                        th:classappend="${users.currentPage}==${i}?'page-item active':''">
                        <a th:href="@{/private/users/showing(currentPage=${i})}" th:text="${i}" class="page-link"> </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer container-lg width-full px-3" role="contentinfo">
        <div class="position-relative d-flex flex-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
            <div style="text-align: center;">
                <span>Online Marker__2018</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>